<!DOCTYPE html>
<html lang="en">

<head>
    {{>link}}
    <title>MERN BackEnd</title>
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main-header">
        <div class="row mt-md-5">
            <div class="col-md-6 my-auto">
                <div class="card h-50">
                    <div class="card-body bg-success" style="--bs-bg-opacity: .75;">
                        <h5 class="card-title">HTML</h5>
                        <p class="card-text">
                        <ul>
                            <li> HTML stands for Hyper Text Markup Language. </li>
                            <li>HTML is the standard markup language for creating Web pages .</li>
                            <li> HTML describes the structure of a Web page .</li>
                            <li> HTML elements tell the browser how to display the content.</li>
                            <li>HTML elements label pieces of content such as "this is a heading","this is a
                                paragraph","this is a link",etc.</li>
                        </ul>
                        </p>
                        <a href="https://www.w3schools.com/html/default.asp" class="btn btn-primary"
                            target="_blank">Read More >></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-auto">
                <div class="card h-50">
                    <div class="card-body bg-primary" style="--bs-bg-opacity: .75;">
                        <h5 class="card-title">CSS</h5>
                        <p class="card-text">
                        <ul>
                            <li>CSS stands for Cascading Style Sheets.</li>
                            <li>CSS describes how HTML elements are to be displayed on screen, paper, or in other media.
                            </li>
                            <li>External stylesheets are stored in CSS files.</li>
                            <li>CSS saves a lot of work. It can control the layout of multiple web pages all at once.
                            </li>
                            <li>The style definitions are normally saved in external .css files.</li>
                        </ul>
                        </p>
                        <a href="https://www.w3schools.com/css/default.asp" class="btn btn-primary" target="_blank">Read
                            More >></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-md-6 my-auto">
                <div class="card h-50">
                    <div class="card-body bg-warning" style="--bs-bg-opacity: .75;">
                        <h5 class="card-title">Javascript</h5>
                        <p class="card-text">
                        <ul>
                            <li>JavaScript is the world's most popular programming language.</li>
                            <li>JavaScript is the programming language of the Web.</li>
                            <li>JavaScript is easy to learn.</li>
                            <li>This tutorial will teach you JavaScript from basic to advanced.</li>
                            <li>JavaScript Can Change HTML Content ,HTML Attribute Values and HTML Styles (CSS)</li>
                            <li>JavaScript Can Hide HTML Elements and Show HTML Elements</li>
                        </ul>
                        </p>
                        <a href="https://www.w3schools.com/js/default.asp" class="btn btn-primary" target="_blank">Read
                            More >></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 my-auto">
                <div class="card">
                    <div class="card-body bg-danger" style="--bs-bg-opacity: .75;">
                        <h5 class="card-title">Bootstrap</h5>
                        <p class="card-text">
                        <ul>
                            <li>Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing
                                responsive, mobile-first websites.</li>
                            <li>Bootstrap is a free front-end framework for faster and easier web development.</li>
                            <li>Bootstrap includes HTML and CSS based design templates for typography, forms,
                                buttons, tables, navigation, modals, image carousels and many other, as well as optional 
                                JavaScript plugins.</li>
                        </ul>
                        </p>
                        <a href="https://getbootstrap.com/?utm_source=a2hs" class="btn btn-primary" target="_blank">Read
                            More >></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-md-6 my-auto">
                <div class="card">
                    <div class="card-body bg-secondary" style="--bs-bg-opacity: .75;">
                        <h5 class="card-title">Node JS</h5>
                        <p class="card-text">
                        <ul>
                            <li>Node.js is an open source server environment.</li>
                            <li>Node.js can generate dynamic page content.</li>
                            <li>Node.js can create, open, read, write, delete, and close files on the server and can
                                collect form data
                            </li>
                            <li>Node.js runs on various platforms (Windows, Linux, Unix, Mac OS X, etc.).</li>
                            <li>Node.js uses JavaScript on the server.</li>
                            <li>Node.js files must be initiated on the server before having any effect ,Node.js
                                files have extension ".js"</li>
                        </ul>
                        </p>
                        <a href="https://www.w3schools.com/nodejs/default.asp" class="btn btn-primary"
                            target="_blank">Read More >></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-auto">
                <div class="card">
                    <div class="card-body bg-success" style="--bs-bg-opacity: .5;">
                        <h5 class="card-title">MongoDB</h5>
                        <p class="card-text">
                        <ul>
                            <li>MongoDB is a cross-platform, document oriented database that provides, high performance,high
                                availability, and easy scalability. MongoDB works on concept of collection and document.
                             </li>
                            <li>Database is a physical container for collections. Each database gets its own set of
                                files on the file system.</li>
                            <li>Collection is a group of MongoDB documents. It is the equivalent of an RDBMS table.A
                                collection exists within a single database.</li>
                            <li>A Document is a set of key-value pairs. Documents have dynamic schema.</li>
                        </ul>
                        </p>
                        <a href="https://docs.mongodb.com/" class="btn btn-primary" target="_blank">Read More >></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-md-6 my-auto">
                <div class="card">
                    <div class="card-body bg-info" style="--bs-bg-opacity: .75;">
                        <h5 class="card-title">Express JS</h5>
                        <p class="card-text">
                        <ul>
                            <li>Express.js is a modular web framework for Node.js. It is used for easier creation of
                                web applications and services</li>
                            <li> Express is a small framework that sits on top of Node.js’s web server functionality
                                to simplify its APIs and add helpful new features. </li>
                            <li>It makes it easier to organize your application’s functionality with middle ware and
                                routing.</li>
                            <li>It adds helpful utilities to Node.js’s HTTP objects. It facilitates the rendering of
                                dynamic HTTP objects.</li>
                        </ul>
                        </p>
                        <a href="https://expressjs.com/" class="btn btn-primary" target="_blank">Read More >></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-auto">
                <div class="card">
                    <div class="card-body bg-warning" style="--bs-bg-opacity: .25;">
                        <h5 class="card-title">React JS</h5>
                        <p class="card-text">
                        <ul>
                            <li>React is a JavaScript library for building user interfaces.</li>
                            <li>React is used to build single page applications.</li>
                            <li>React is a tool for building UI components.</li>
                            <li>React allows us to create reusable UI components.</li>
                            <li>JSX − JSX is JavaScript syntax extension. It isn't necessary to use JSX in React
                                development, but it is recommended</li>
                            <li>Components − React is all about components. You need to think of everything as a
                                component. </li>
                        </ul>
                        </p>
                        <a href="https://reactjs.org/" class="btn btn-primary" target="_blank">Read More >></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-md-5 mb-5">
            <div class="col-md-6 my-auto">
                <div class="card">
                    <div class="card-body bg-body" style="--bs-bg-opacity: .25;">
                        <h5 class="card-title">Template Engine</h5>
                        <p class="card-text">
                        <ul>
                            <li>Template engine helps us to create an HTML template with minimal code.</li>
                            <li>Also, it can inject data into HTML template at client side and produce the final
                                HTML.
                            </li>
                            <li>Mustache. Mustache is often considered the base for JavaScript templating.</li>
                            <li>Underscore Templates. Underscore is a utlity belt library for JavaScript.</li>
                            <li>Embedded JS Templates. Embedded JS (EJS) is inspired by ERB templates.</li>
                            <li>Example: pug, hbs, EJS, etc</li>
                        </ul>
                        </p>
                        <a href="https://expressjs.com/en/guide/using-template-engines.html" class="btn btn-primary"
                            target="_blank">Read More >></a>
                    </div>
                </div>
            </div>


            <div class="col-md-6 my-auto">
                <div class="card">
                    <div class="card-body bg-primary" style="--bs-bg-opacity: .25;">
                        <h5 class="card-title">SASS</h5>
                        <p class="card-text">
                        <ul>
                            <li>Sass stands for Syntactically Awesome Stylesheet.</li>
                            <li>Sass is a CSS pre-processor.</li>
                            <li>Sass reduces repetition of CSS and therefore saves time.</li>
                            <li>Stylesheets are getting larger, more complex,and harder to maintain.This is where a
                                CSS pre-processor can help.</li>
                            <li>Sass files has the ".scss" file extension.</li>
                        </ul>
                        </p>
                        <a href="https://www.w3schools.com/sass/default.php" class="btn btn-primary"
                            target="_blank">Read More >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}


</body>

</html>